<robot name="mycar" xmlns:xacro="http://www.ros.org/wiki/xacro">
 <xacro:property name="cmd_vel_top" value="$(arg cmd_vel_top)"/>
    <xacro:include filename="head.xacro" />
    <xacro:include filename="demo05_car_base.urdf.xacro" />
    <!-- <xacro:include filename="demo06_car_camera.urdf.xacro" /> -->
    <!-- <xacro:include filename="demo07_car_laser.urdf.xacro" /> -->
    <xacro:include filename="gazebo/move.xacro"  >
        <xacro:property name="cmd_vel_top" value="$(cmd_vel_top)"/>
    </xacro:include>
    <!-- <xacro:include filename="gazebo/laser.xacro" /> -->
    <!-- <xacro:include filename="gazebo/camera.xacro" /> -->
    <!-- <xacro:include filename="gazebo/kinect.xacro" /> -->
  
</robot>