<launch>
<!-- <node name="local_planner" pkg="local_planner" type="local_planner.py"  output="screen" required="true"/> -->
<node name="local_planner" pkg="local_planner" type="local_planner.py"  output="screen" required="true"/>
<node name="controller" pkg="local_planner" type="controller.py" launch-prefix="gnome-terminal --title=controller -x"/>



  </launch>